address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
   border: 0;
   margin: 0;
   color:rgb(214, 206, 131);
   font-size: 110%;
   vertical-align: baseline;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer {
    background-color: #d10a0a;
    text-align: center;
    position: sticky;
}