body img {
    text-align: center;

}

body {
    background:linear-gradient(to bottom,#940606 20%, #ff94a2 100%);
    background-repeat: no-repeat;
    background-size: fill;
}

header {
    background-color: #790606;
    text-align: left;
    font-size: 4em;
}

herf img {
    text-align: center;
}

footer{

    background-color:  #d10a0a;
}

a {
    color: rgb(214, 206, 131);
  text-decoration: none;
}